<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignment_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/home2.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" style="z-index:100">
            <div class="container">
                <a class="navbar-brand" style="background:none;" href="~/Home/AdministratorMain">
                    <img src="~/images/logo.png"
                         style="width: 70px; border-radius: 260px;" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white hover-red" style="margin-right: 15px" href="~/Home/AdministratorMain">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white hover-red" style="margin-right: 15px" href="~/Home/ViewCompetition">VIEW COMPETITIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white hover-red" style="margin-right: 15px" href="~/Home/ViewAreaInterest">VIEW AREA OF INTERESTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white hover-red" style="margin-right: 15px" href="~/Home/Index">LOG OUT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top small text-right text-muted">
        <p style="padding-right:15px; padding-top: 5px">
            Competitive Judging Platform - &copy;@DateTime.Today.Year
            CJP Officials
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
