@model IEnumerable<Assignment_1.Models.AreaInterest>

@if (Model.ToList().Count > 0)
{
    <p><strong>@TempData["Message"]</strong></p>
    <div class="table-responsive">
        <table id="viewAreaInterest" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Area of Interest ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.AreaInterestID.ToString()</td>
                        <td>@item.Name</td>
                        <td>
                            <a asp-action="DeleteAreaInterest" asp-controller="Home"
                               asp-route-id="@item.AreaInterestID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

else
{
    <span style="color:red">No record found!</span>
}
